name: give_me
description: "Give (Me) - systems balancing game skeleton (Flutter)."
publish_to: 'none'
version: 0.0.1+1

environment:
  sdk: '>=3.4.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  go_router: ^14.6.2
  flutter_riverpod: ^2.5.1
  in_app_purchase: ^3.2.0
  google_mobile_ads: ^5.0.0
  collection: ^1.18.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
